/* https://www.w3schools.com/howto/howto_js_topnav.asp */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #119dd4;
    color: white;
  }

  body {
    text-align: center;
    background-color: rgba(167, 203, 224, 0.801);
    font-size: 15px;
  }

button {
  background-color: #119dd4;
}

#helloConsole {
  visibility: hidden;
}

form {
  width: 50%;
  margin-left : 25%;
  text-align: center;
  border: 2px solid black; 
  background: rgb(77,136,255); 
}

#paragraphExample {
  border: 10px solid #14db8f; 
}




